* {
    font-family: Helvetica;
}

h2 {
  width: 100%;
  text-align: center;
}

td {
  width: 100%;
  text-align: left;
}

#personal {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

#personal #address {
  float: left;
  width: 30%;
  text-align: left;
}

#personal #name {
  float: left;
  width: 40%;
  text-align: center;
}

#personal #contact {
  float: right;
  width: 30%;
  text-align: right;
}

#objective {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
