html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #ebebeb;
  font-size: 8px;
  font-family: 'Lato', sans-serif, 'Helvectica';
  line-height: 2em;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

#main-content {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: center;
  width: 94%;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.25em;
  top: -12em;
}

.subsection {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  background: white;
  padding: 2em;
  margin: 1em;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.subsection-head {
  position: relative;
  top: -1em;
  left: -1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 30%;
}

.subsection h2 {
  flex-flow: center;
  padding: 0.25em;
  margin: 0;
  font-size: 1em;
  background:  rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 0.25em;
  text-align: center;
  margin: .25em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.125em;
}

.subsection-icon {
  align-self: flex-start;
  position: relative;
  left: 0;
  top: 0;
}

.subsection-body {
  padding-left: 1em;
  width: 70%;
}

.subsection-body-image {
  position: relative;
  left: -1em;
  width: 30%;
  text-align: center;
}

.subsection-body-wrapper {
  width: 100%;
  display: flex;
  padding: 1em 0 1em 0;
}

.uicon {
  width: 5em;
  height: 5em;
}

.info-head {
  display: block;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  border-top-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.info-head:hover {
  background: #3f3159;
}

.info-detail-container {
 display: none;
}

.info-detail {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
}

.courses {
  list-style-type: none;
}

.course {
  margin: .5em 0 .5em 0;
}

.course-name {
  background: #1F1849;
  color: white;
  border-radius: .5em;
  width: auto;
  text-align: center;
  margin: .5em 0 .5em 0;
  padding: .25em;
}

.course-name:hover {
  background: #362e6b;
}

.course-description {
  display: none;
}

.work {
  list-style-type: none;
}

.work li {
  margin: 0.25em 0 0.25em 0;
}

.contact-container {
  width: 80%;
}

#contact-section {
  display: flex;
  flex-direction: column
}


.contact-info {
  flex-grow: 1;
}

.profile-picture {
  text-align: center;
}

.profile {
  object-fit: contain;
  width: 75%;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#utility-bar {
  width: 100%;
  height: 3em;
  position: relative;
  z-index: 3;
  top: 0;
}

#banner {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1em;
  width: 100%;
  height: 30em;
  color: white;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#banner h1 {
  align-self: center;
  text-align: center;
  margin-top: 1.25em;
  color: #f4ebeb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 0.03125em;
}

#banner-img {
  width: 100%;
  height: auto;
}

#story {
  width: 70%;
  text-align: center;
  font-size: 1.5em;
  background: rgba(0, 0, 0, .7);
}

.top-utility-bar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  position: fixed;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6em;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}


#utility-bar li a {
  display: inline-block;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-family: "Helvectica", Arial;
  text-decoration: none;
}

#utility-bar li a:hover {
  background: rgba(0, 0, 0, 0.85);
}

#utility-bar li a:active {
  background: rgba(0, 0, 0, 0.85);
}

.side-scroll-utility {
  position: fixed;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6em;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}

.contact-body {
  text-align: right;
  font-size: 2em;
}

.paragraph-text {
  display: flex;
  justify-content: center;
}

.wide-body {
  width: 90%;
}

@media only screen and (min-width: 320px) {
  #banner h1 {
    position: relative;
    top: 3em;
  }
}

@media only screen and (min-width: 568px) {
  #main-content {
    top: -10em;
  }
}

@media only screen and (min-width: 641px) {
  #main-content {
    top: -14em;
  }
}

@media only screen and (min-width: 768px) {
  #banner h1 {
    top: 3em;
  }
  #main-content {
    top: -12em;
  }
}


@media only screen and (min-width: 1025px) {
    body {
      font-size: 16px;
    }
    #banner {
      height: 32em;
      background-position: left;
    }
    #banner h1 {
      letter-spacing: 0.125em;
    }
    .top-utility-bar {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: transparent;
      top: 0;
      height: 4.5em;
    }
    .top-utility-bar li {
      display: flex;
      flex-direction: column;
    }
    #main-content {
      width: 78%;
      top: -12em;
    }
    .subsection h2 {
      letter-spacing: 0.5em;
    }
    .utility-icon-active {
      background: rgba(0, 0, 0, 0.85);
    }
    .uicon {
      width: 100%;
      height: inherit;
    }
    .icon-description {
      width: 1em;
      padding-top: -0.5em;
      display: none;
    }
    .side-scroll-utility {
      position: fixed;
      top: 7.25em;
      left: inherit;
      width: auto;
      flex-direction: column;
      height: 30em;
      background: rgba(0, 0, 0, .6);
    }
}

@media only screen and (min-width: 1200px) {
  #banner {
    height: 48em;
  }

  #main-content {
    top: -26em;
  }
}

@media only screen and (min-width: 1440px) {
  #main-content {
    top: -30em;
  }
}

@media only screen and (min-width: 2560px) {
  html, body {
    font-size: 1.25em;
  }
  .profile {
    width: 60%;
  }
}
