html, body{
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

header{
  width: 100%;
  height: 100px;
  background: #bdbdbd;
  position: fixed;
  z-index: 10;
  top: 0;
}

  #header-content {
    width: 1000px; margin: 0 auto; padding: 35px 0 0 0;
    overflow: hidden;
  }
    #header-content h1{
      float: left;
      font-family: "Helvetica", Arial, sans-serif;
    }
      #header-content h1 a{
        text-decoration: none;
        color: white;
      }
    #header-content nav{
      float: right;
    }
      #header-content nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
        #header-content nav li{
          float: left;
          font-family: "Helvetica", Arial, sans-serif;
        }

          #header-content nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
            /* on hover */
            #header-content nav li a:hover {
              background-color: #111;
            }



#purple {
  background-color: purple;
  height: 100px;
  width: 100px;
}

#banner{
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background: #707070;
}

#content {
  width: 100%;
  position: relative;
  top: 400px;
  background: #ebebeb;
  height: 1500px;
}
